<?xml version="1.0"?>
<config>
  <modules>
    <UIS_Testimonials>
      <version>0.0.1</version>
    </UIS_Testimonials>
  </modules>
  <frontend>
    <routers>
      <testimonials>
        <use>standard</use>
          <args>
            <module>UIS_Testimonials</module>
            <frontName>testimonials</frontName>
          </args>
      </testimonials>
    </routers>
		<layout>
		  <updates>
			<testimonials>
			  <file>testimonials.xml</file>
			</testimonials>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <testimonials>
        <class>UIS_Testimonials_Helper</class>
      </testimonials>
    </helpers>
	<blocks>
	  <testimonials>
		<class>UIS_Testimonials_Block</class>
	  </testimonials>
	</blocks>
	<models>
	  <testimonials>
		<class>UIS_Testimonials_Model</class>
		<resourceModel>testimonials_resource</resourceModel>
	  </testimonials>
	  <testimonials_resource>
		<class>UIS_Testimonials_Model_Resource</class>
		<entities>		  
			  <testimonials>
				<table>testimonials</table>
			  </testimonials>		  
        </entities>
	  </testimonials_resource>
	</models>
	<resources>
	  <testimonials_setup>
		<setup>
		  <module>UIS_Testimonials</module>
		  <model>Mage_Core_Model_Resource_Setup</model>
		</setup>
	   </testimonials_setup>	
	</resources>
  </global>
     <admin>
		<routers>
			<testimonials_admin>
				<use>admin</use>
				<args>
					<module>UIS_Testimonials</module>
					<frontName>testimonials_admin</frontName>
				</args>
			</testimonials_admin>
		</routers>
	</admin>
  <adminhtml>
	<layout>
	  <updates>
		<testimonials>
		  <file>testimonials.xml</file>
		</testimonials>
	  </updates>
	</layout>
  </adminhtml>
</config> 